
<label for="name">
	<f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="quantity">
	<f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.quantity" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="quantity" /><br />