
<table class="tx-vendorinventoryadvanced" >
	<tr>
		<td>
			<f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.name" />
		</td>
		<td>
			{inventory.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.description" />
		</td>
		<td>
			{inventory.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.quantity" />
		</td>
		<td>
			{inventory.quantity}
		</td>
	</tr>
</table>