<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Inventory</h1>

<f:flashMessages />

<table  class="tx_vendorinventoryadvanced" >
	<tr>
		<th><f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.name" /></th>
		<th><f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.description" /></th>
		<th><f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.quantity" /></th>
		<th><f:translate key="tx_vendorinventoryadvanced_domain_model_inventory.category_name" /></th>
		<th> </th>
	</tr>

	<f:for each="{inventories}" as="inventory">
		<tr>
			<td><f:link.action action="show" arguments="{inventory : inventory}"> {inventory.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inventory : inventory}"> {inventory.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{inventory : inventory}"> {inventory.quantity}</f:link.action></td>
			<td><f:link.action action="showCategory" arguments="{category : inventory.categoryName}"> {inventory.categoryName.categoryName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{inventory : inventory}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{inventory : inventory}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Inventory</f:link.action>
</f:section>
</html>